@import './base.css';
 
/*Fonts Importation*/
@font-face {
	font-family: 'Amsterdam Four_ttf';
	src: url('./fonts/Amsterdam\ Four_ttf\ 400.ttf') format(‘truetype’)
}

/* Darkmode Design */
.dark{
  color-scheme: dark;
  --color-background: #16171d; /* it's better to use a dark grey color instead of pure black */
}
.dark #app{
  color: #adb5bd;
}
.dark #about {
  color: #485665;
  }
.dark #about .presentation .about-blc h2{ 
  background: none;
  color: #C3F672;
  text-shadow: 2px 1px 2px black; }

/* App Design */
#app {
  font-weight: normal;
  color: #3f4a56;
}

a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

/* Design Portfolio Scrollbar */
.cards-grp::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */

}
.cards-grp::-webkit-scrollbar-button{ height: 8px;}
.cards-grp::-webkit-scrollbar-thumb {
  background-color: #C3F672; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
.cards-grp::-webkit-scrollbar-track{
  height: 10px;
}

@media (max-width: 2000px){
  body { 
    overflow: auto;
    padding-right: 0px !important 
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
